unpackaged/main/default/flows/NPSP_Quick_Data_Importer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Data_Import_Object</name>
        <label>Assign Data Import Object</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>objectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>npsp__DataImport__c</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_a_CSV_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Object_Type_Api_Name</name>
        <label>Assign Other Object Type Api Name</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>objectApiName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Object_s_API_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_a_CSV_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Batch_Record</name>
        <label>Assign Values to Batch Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>dataImportBatch.npsp__Account_Custom_Unique_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Custom_Unique_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataImportBatch.npsp__Contact_Custom_Unique_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Custom_Unique_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataImportBatch.npsp__Contact_Matching_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Matching_Rules</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataImportBatch.npsp__Donation_Matching_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CloseDate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Values_for_Batch</name>
        <label>Set Default Values for Batch</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>dataImportBatch.npsp__Batch_Process_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataImportBatch.npsp__Donation_Matching_Behavior__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Do Not Match</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataImportBatch.npsp__Donation_Date_Range__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Batch_Information</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Contact_Duplicate_Rules</name>
        <choiceText>Contact Duplicate Rules</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact Duplicate Rules</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email_only</name>
        <choiceText>Email only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Name_and_Last_Name</name>
        <choiceText>First Name and Last Name</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Firstname,Lastname</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Name_Last_Name_and_Email</name>
        <choiceText>First Name, Last Name, and Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Firstname,Lastname,Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>First_Name_Last_Name_and_Phone</name>
        <choiceText>First Name, Last Name, and Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Name, Last Name, and Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Last_Name_and_Email</name>
        <choiceText>Last Name and Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lastname,Email</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Import_Type</name>
        <label>Import Type</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_Object_Type_Api_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Data_Import</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImportType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_to_Batch_Record</targetReference>
            </connector>
            <label>Data Import</label>
        </rules>
    </decisions>
    <description>A screen flow that allows users to import data into the Data Import object for processing or any other Salesforce object using a csv.</description>
    <environments>Default</environments>
    <interviewLabel>NPSP Quick Data Importer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPSP Quick Importer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_the_Batch</name>
        <label>Create the Batch</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Data_Import_Object</targetReference>
        </connector>
        <inputReference>dataImportBatch</inputReference>
    </recordCreates>
    <screens>
        <name>Batch_Information</name>
        <label>Batch Information</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Import_Type</targetReference>
        </connector>
        <fields>
            <name>cirtaTechHeaderBatch</name>
            <extensionName>c:cirtaTechHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>NPSP Quick Importer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>logoLink</name>
                <value>
                    <stringValue>https://images.squarespace-cdn.com/content/v1/667e2e58e0e650346fca0fd0/4b952bf2-3dde-491d-b99b-21c8df3b43ed/cirtatech+logo+square?format=500w</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>importTypeDescription</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿By default, data will import into the Data Import object; uncheck to import into any other object by entering its API name.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ImportType</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Uncheck to Import into Other Objects</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Check to Import into Data Import Object</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Import Type</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Set_Object_s_API_Name</name>
            <dataType>String</dataType>
            <fieldText>Set Object&#39;s API Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ImportType.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Batch_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Batch_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>dataImportBatch.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>dataImportBatch.npsp__Batch_Process_Size__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Batch_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>dataImportBatch.npsp__Batch_Description__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>dataImportBatch.npsp__Process_Using_Scheduled_Job__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ImportType.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_Account_Matching</name>
            <fieldText>Contact &amp; Account Matching</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Account_Matching_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_Matching_Rules</name>
                    <choiceReferences>First_Name_Last_Name_and_Email</choiceReferences>
                    <choiceReferences>Last_Name_and_Email</choiceReferences>
                    <choiceReferences>First_Name_and_Last_Name</choiceReferences>
                    <choiceReferences>Email_only</choiceReferences>
                    <choiceReferences>First_Name_Last_Name_and_Phone</choiceReferences>
                    <choiceReferences>Contact_Duplicate_Rules</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>First_Name_Last_Name_and_Email</defaultSelectedChoiceReference>
                    <fieldText>Contact Matching Rules</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Specifies how Contacts in Data Import records are matched to existing Contacts. Contact Duplicate Rules runs all active Duplicate Rules for the Contact object to find the best match. Duplicate Rules are managed in Setup | Duplicate Management.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contact_Custom_Unique_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Contact Custom Unique ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;An optional Unique Id field to use for Contact matching. Use the API name of the field. &lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Account_Matching_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Custom_Unique_ID</name>
                    <dataType>String</dataType>
                    <fieldText>Account Custom Unique ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;An optional Unique Id field to use for Organization Account matching.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ImportType.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Donation_Matching</name>
            <fieldText>Donation Matching</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Donation_Matching_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Donation_Matching_Rule</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Amount,CloseDate</stringValue>
                    </defaultValue>
                    <fieldText>Donation Matching Rule</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;specifies which fields to match by when trying to match Donations in batch records against existing Opportunities and Payments. Use Api names followed by a &quot;,&quot;. &lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>dataImportBatch.npsp__Donation_Matching_Behavior__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Donation_Matching_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>dataImportBatch.npsp__Donation_Date_Range__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>dataImportBatch.npsp__Run_Opportunity_Rollups_while_Processing__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ImportType.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_a_CSV_File</name>
        <label>Upload a CSV File</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cirtaTechHeaderUpload</name>
            <extensionName>c:cirtaTechHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>logoLink</name>
                <value>
                    <stringValue>https://images.squarespace-cdn.com/content/v1/667e2e58e0e650346fca0fd0/4b952bf2-3dde-491d-b99b-21c8df3b43ed/cirtatech+logo+square?format=500w</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>utility:upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleText</name>
                <value>
                    <stringValue>NPSP Quick Importer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>uploadScreenTitle</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Ensure Field Mapping&lt;/strong&gt;: The CSV headers should exactly match the Salesforce object field API names, as they are directly mapped during processing.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Maximum Number of Records&lt;/strong&gt;: The CSV file should contain &lt;strong&gt;no more than 10,000 rows&lt;/strong&gt;. Larger files will result in an error.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Error Handling&lt;/strong&gt;: If there are errors during the import, no records will be inserted, and you will receive detailed error messages indicating the rows that failed.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Rollback on Failure&lt;/strong&gt;: If any record fails to insert, the entire batch will be rolled back to ensure data consistency.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>csvFileUpload</name>
            <extensionName>c:csvFileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>batchId</name>
                <value>
                    <elementReference>dataImportBatch.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFileValid</name>
                <value>
                    <elementReference>isFileValid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>objectApiName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Default_Values_for_Batch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dataImportBatch</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__DataImportBatch__c</objectType>
    </variables>
    <variables>
        <name>isFileValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
